
<!DOCTYPE html>
<html>
  <head>
  <link type="text/css" rel="stylesheet" href="stylesheet.css"/>
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <title>Resume</title>
  </head>
<body>
  <div class="container">

  <div class="lefty">
      <h1> STEF GIBSON </h1>
      <img src="images/me_profileshot.png">
      <p> 123 Magical Princess Ave. </p>
      <p>Toronto ON.</p>
      <p>m6k3p6</p>
</div>

<div class="righty">
          <h2> EXPERTISE </h2>
          <p>
          Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset. Sea mazim altera no. Ne nec percipit reformidans. Pri tantas adipiscing ex, duo ea veri aeterno torquatos. His vero viris ne, et doming integre nec.
        </p>
        <hr>
        <h2> EXPERIENCE </h2>
        <p> <b> TITLE TITLE TITLE </b> </p>
        <ul>
          <li>   Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
          <li>  Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
        </ul>
        <p> <b> TITLE TITLE TITLE  </b> </p>
        <ul>
          <li>   Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
          <li>  Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
          </ul>
          <hr>

          <h2> EDUCATION </h2>
          <p><b>University of Waterloo, Waterloo ON.</b></p>
          <p>Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu,<p>
           <hr>
            <h2> AWARDS </h2>
               <ul>
          <li>   Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
          <li>  Lorem ipsum dolor sit amet, cu perfecto urbanitas appellantur usu, te mei wisi probo. Et sea iriure deserunt intellegam, eum eu utroque quaestio prodesset.</li>
          </ul>

</div>


</div>



</body>




